@charset "utf-8";

.linear-right-5ecf5e-tr{background:linear-gradient(to right, #5ecf5e, transparent);}
.menu-hover:hover ul{display:block;}

@media (max-width:767px){	/*모바일*/
    html{font-size:12px;}
}
