@charset "utf-8";

.linear-right-5ecf5e-tr{background:linear-gradient(to right, #5ecf5e, transparent);}

.quick-menu .quick-icon{transition:.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);}
.quick-menu:hover .quick-icon{transform:scale(1.2); color:rgb(81, 182, 81);}

label.radio-btn [type="radio"]{display:none;}
label.radio-btn span{display:inline-block; background:#eee; padding:6px 12px;}
label.radio-btn [type="radio"]:checked + span{background:#5ecf5e;}

@media (max-width:767px){	/*모바일*/
    html{font-size:12px;}
}
@media (min-width:767px){	/*모바일*/
    .menu-hover ul{box-shadow:0 0 3px #000;}
    .menu-hover:hover ul{display:block;}
}
