<section id="chartPage" class="">
    <div class="bg-ccc">
        <div class="cf">
            <div class="float-l w33_3333p pd-h20 txt-c">
                <h4 class="txt-c">도서 총수량</h4>
                <div class="">33,221</div>
            </div>
            <div class="float-l w33_3333p pd-h20 txt-c">
                <h4 class="txt-c">회원수</h4>
                <div class="">3</div>
            </div>
            <div class="float-l w33_3333p pd-h20 txt-c">
                <h4 class="txt-c">현재 대여수량</h4>
                <div class="">0</div>
            </div>
        </div>
    </div>
    <div class="container pd-v20">
        <div class="cf mg-10">
            <div class="float-l w33_3333p h300 pd10 media-mx-w992-w50p media-mx-w767-w100p media-mx-w767-h270">
                <div class="h100p bg-eee pd10 cf">
                    <h4 class="txt-c mg-t0 mg-b10">도서 보유 현황</h4>
                    <div class="txt-c h200">
                        <div id="pieChart_totalBook" class="inline-block h180 w180 v-middle mg-r15"></div>
                        <div id="list_totalBook" class="inline-block txt-l v-middle h200"></div>
                    </div>
                </div>
            </div>
            <div class="float-l w33_3333p h300 pd10 media-mx-w992-w50p media-mx-w767-w100p">
                <div class="h100p bg-eee pd10 cf">
                    <h4 class="txt-c mg-t0 mg-b10">현재 대여 현황</h4>
                    <div class="txt-c h200">
                        <div id="pieChart_totalRentBook" class="inline-block h180 w180 v-middle mg-r15"></div>
                        <div id="list_totalRentBook" class="inline-block txt-l v-middle h200"></div>
                    </div>
                </div>
            </div>
            <div class="float-l w33_3333p h300 pd10 media-mx-w992-w50p media-mx-w767-w100p">
                <div class="h100p pd10 bg-eee" style1="box-shadow:0 0 5px #000;">
                    <h4 class="txt-c mg-t0 mg-b10">도서 랭킹 10</h4>
                    <div class="h230 overflow-y-auto">
                        <div>
                            <img src="/smallLib/assets/img/no1.svg" width="50">
                            <span>안녕</span>
                        </div>
                        <div>
                            <img src="/smallLib/assets/img/no2.svg" width="50">
                            <span>안녕</span>
                        </div>
                        <div>
                            <img src="/smallLib/assets/img/no3.svg" width="50">
                            <span>안녕</span>
                        </div>
                        <hr class="mg-v3">
                        <div>
                            <span class="inline-block w50 txt-c">4</span>
                            <span>안녕</span>
                        </div>
                        <div>
                            <span class="inline-block w50 txt-c">5</span>
                            <span>안녕</span>
                        </div>
                        <div>
                            <span class="inline-block w50 txt-c">6</span>
                            <span>안녕</span>
                        </div>
                        <div>
                            <span class="inline-block w50 txt-c">7</span>
                            <span>안녕</span>
                        </div>
                        <div>
                            <span class="inline-block w50 txt-c">8</span>
                            <span>안녕</span>
                        </div>
                        <div>
                            <span class="inline-block w50 txt-c">9</span>
                            <span>안녕</span>
                        </div>
                        <div>
                            <span class="inline-block w50 txt-c">10</span>
                            <span>안녕</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="float-l w33_3333p h300 pd10 media-mx-w992-w50p media-mx-w767-w100p">
                <div class="h100p bg-eee pd10">
                    <h4 class="txt-c mg-t0 mg-b10">월별 대여현황</h4>
                    <div class="txt-c h200">
                        <div id="pieChart_totalRentBook" class="inline-block h180 w180 v-middle mg-r15"></div>
                        <div id="list_totalRentBook" class="inline-block txt-l v-middle h200"></div>
                    </div>
                </div>
            </div>
            <div class="float-l w33_3333p h300 pd10 media-mx-w992-w50p media-mx-w767-w100p">
                <div class="h100p bg-eee"></div>
            </div>
            <div class="float-l w33_3333p h300 pd10 media-mx-w992-w50p media-mx-w767-w100p">
                <div class="h100p bg-eee"></div>
            </div>
        </div>
    </div>
</section>