<div class="pd10">
    <div class="cf mg-h-5 mg-b10">
        <div class="border-b-ccc pd-b5">
            <label class="mg0 mg-r10">
                <span class="v-middle">등록번호(바코드):</span>
                <input type="text" placeholder="" class="form-control inline-block w180">
            </label>
            <label class="mg0">
                <span class="v-middle">등록번호(직접입력):</span>
                <input type="text" placeholder="" class="form-control inline-block w180">
            </label>
            <button class="btn btn-success v-top">도서검색</button>
        </div>
    </div>
    <div class="mg-b10 border-b-ccc">
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">총서명:</span>
                <input type="text" placeholder="" class="form-control inline-block w300">
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r color-red">*서명:</span>
                <input type="text" placeholder="" class="form-control inline-block w300">
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">서명권차:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r color-red">*저자:</span>
                <input type="text" placeholder="" class="form-control inline-block w200">
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">발행지:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">출판년도:</span>
                <input type="text" placeholder="" class="form-control inline-block w60">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">출판사:</span>
                <input type="text" placeholder="" class="form-control inline-block w120">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">페이지:</span>
                <input type="text" placeholder="" class="form-control inline-block w60">
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">크기:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">가격:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">딸림자료:</span>
                <input type="text" placeholder="" class="form-control inline-block w250">
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">소장위치:</span>
                <select type="text" class="form-control inline-block w100">
                    <option>자료실</option>
                </select>
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">반입구매:</span>
                <select type="text" class="form-control inline-block w80">
                    <option>구매</option>
                </select>
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">도서상태:</span>
                <select type="text" class="form-control inline-block w120">
                    <option>대출가능</option>
                </select>
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">UID:</span>
                <input type="text" placeholder="" class="form-control inline-block w250">
            </label>
        </div>
    </div>
    <div class="border-b-ccc mg-b10">
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">별치기호:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r color-red">*분류기호:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r color-red">*저자기호:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
        </div>
        <div class="mg-b5">
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">청구권차:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r">복본:</span>
                <input type="text" placeholder="" class="form-control inline-block w100">
            </label>
            <label class="mg0">
                <span class="v-middle w70 inline-block txt-r color-red">*등록번호:</span>
                <input type="text" placeholder="" class="form-control inline-block w150">
            </label>
        </div>
    </div>
    <div class="txt-r">
        <button class="btn btn-warning">수정</button>
        <button class="btn btn-danger">삭제</button>
        <button class="btn btn-default">취소</button>
    </div>
</div>