<div class="pd10">
    <div class="cf mg-h-5 mg-b10">
        <div class="float-l w360 pd5 border-r-ccc">
            <div class="pd-b5 border-b-ccc mg-b5">
                <label class="mg0 block mg-b5">
                    <span class="v-middle">ISBN(바코드):</span>
                    <input type="text" placeholder="" class="form-control inline-block w170 h24">
                </label>
                <label class="mg0">
                    <span class="v-middle">ISBN(타이핑):</span>
                    <input type="text" placeholder="" class="form-control inline-block w170 h24">
                </label>
                <button class="btn btn-success v-top h24 pd-v3-h6">도서검색</button>
            </div>
            <div class="border-b-ccc mg-b5">
                <div class="mg-b5">
                    <div class="mg-b5">
                        <label class="mg0">
                            <span class="v-middle w70 inline-block txt-r">총서명:</span>
                            <input type="text" placeholder="" class="form-control inline-block w275 h24">
                        </label>
                    </div>
                    <div class="mg-b5">
                        <label class="mg0">
                            <span class="v-middle w70 inline-block txt-r color-red">*서명:</span>
                            <input type="text" placeholder="" class="form-control inline-block w275 h24">
                        </label>
                    </div>
                </div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">서명권차:</span>
                        <input type="text" placeholder="" class="form-control inline-block w60 h24">
                    </label>
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r color-red">*저자:</span>
                        <input type="text" placeholder="" class="form-control inline-block w137 h24">
                    </label>
                </div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">출판년도:</span>
                        <input type="text" placeholder="" class="form-control inline-block w60 h24">
                    </label>
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">출판사:</span>
                        <input type="text" placeholder="" class="form-control inline-block w137 h24">
                    </label>
                </div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">딸림자료:</span>
                        <input type="text" placeholder="" class="form-control inline-block w275 h24">
                    </label>
                </div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">소장위치:</span>
                        <select type="text" class="form-control inline-block w100 h24 pd0">
                            <option>자료실</option>
                        </select>
                    </label>
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">반입구매:</span>
                        <select type="text" class="form-control inline-block w97 h24 pd0">
                            <option>구매</option>
                        </select>
                    </label>
                </div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">도서상태:</span>
                        <select type="text" class="form-control inline-block w100 h24 pd0">
                            <option>대출가능</option>
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">별치기호:</span>
                        <input type="text" placeholder="" class="form-control inline-block w60 h24">
                    </label>
                    <span>
                        <label class="mg0">
                            <span class="v-middle w70 inline-block txt-r color-red">*분류기호:</span>
                            <input type="text" placeholder="" class="form-control inline-block w91 h24">
                        </label>
                        <button class="btn btn-defalut h24 pd-v3-h6">검색</button>
                    </span>
                </div>
                <div class="mg-b5">
                    <span>
                        <label class="mg0">
                            <span class="v-middle w70 inline-block txt-r color-red">*저자기호:</span>
                            <input type="text" placeholder="" class="form-control inline-block w91 h24">
                        </label>
                        <button class="btn btn-defalut h24 pd-v3-h6">생성</button>
                    </span>
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">청구권차:</span>
                        <input type="text" placeholder="" class="form-control inline-block w60 h24">
                    </label>
                </div>
                <div class="mg-b5">
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r">복본:</span>
                        <input type="text" placeholder="" class="form-control inline-block w60 h24">
                    </label>
                    <label class="mg0">
                        <span class="v-middle w70 inline-block txt-r color-red">*등록번호:</span>
                        <input type="text" placeholder="" class="form-control inline-block w137 h24">
                    </label>
                </div>
            </div>
            <div class="txt-r">
                <button class="btn btn-success">등록</button>
                <button class="btn btn-default">취소</button>
            </div>
        </div>
    </div>
</div>