<section id="requstBookPage" class="">
    <div class="container pd-v20">
        <h2>도서검색</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div class="cf mg-h-5 mg-b10">
            <div class="float-l w120 pd-h5">
                <select class="form-control">
                    <option>전체</option>
                    <option>책제목</option>
                    <option>저자</option>
                    <option>출판사</option>
                </select>
            </div>
            <div class="float-l w500 pd-h5">
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="float-l pd-h5">
                <button class="btn btn-success">검색</button>
            </div>
        </div>

        <table class="table table-fixed table-striped mg-b10">
            <colgroup>
                <col width="100">    <!-- 일련번호 -->
                <col>               <!-- 책재목 -->
                <col width="100">   <!-- 저자 -->
                <col width="100">   <!-- 출판사 -->
                <col width="100">    <!-- 보유수량 -->
                <col width="100">    <!-- 대여량 -->
            </colgroup>
            <thead>
                <tr>
                    <th class="txt-c">일련번호</th>
                    <th class="txt-c">책제목</th>
                    <th class="txt-c">저자</th>
                    <th class="txt-c">출판사</th>
                    <th class="txt-c">보유수량</th>
                    <th class="txt-c">대여량</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="txt-c">a0000</td>
                    <td class="txt-ellipsis">성경책</td>
                    <td class="txt-c txt-ellipsis">하나님</td>
                    <td class="txt-c txt-ellipsis">천국</td>
                    <td class="txt-r">2</td>
                    <td class="txt-r">1</td>
                </tr>
                <tr class="sold-out">
                    <td class="txt-c">a1111</td>
                    <td class="txt-ellipsis">십자가의 복음1</td>
                    <td class="txt-c txt-ellipsis">여주봉</td>
                    <td class="txt-c txt-ellipsis">요단</td>
                    <td class="txt-r">1</td>
                    <td class="txt-r">1</td>
                </tr>
                <tr>
                    <td class="txt-c">a7025</td>
                    <td class="txt-ellipsis">THE PURPOSE DRIVEN LIFE</td>
                    <td class="txt-c txt-ellipsis">RICK WARREN</td>
                    <td class="txt-c txt-ellipsis">ZONDERVAN</td>
                    <td class="txt-r">1</td>
                    <td class="txt-r">0</td>
                </tr>
                <tr>
                    <td class="txt-c">a3333</td>
                    <td class="txt-ellipsis">세 왕 이야기(A Tale of Three Kings)</td>
                    <td class="txt-c txt-ellipsis">진 에드워드</td>
                    <td class="txt-c txt-ellipsis">예수전도단</td>
                    <td class="txt-r">2</td>
                    <td class="txt-r">0</td>
                </tr>
            </tbody>
        </table>
        <div class="txt-c">
            <button class="btn btn-light">&lt</button>
            <button class="btn btn-light">1</button>
            <button class="btn btn-light">2</button>
            <button class="btn btn-light">3</button>
            <button class="btn btn-light">&gt</button>
        </div>
    </div>
</section>