<section id="requstBookPage" class="">
    <div class="container pd-v20">
        <h2>도서검색</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div class="cf mg-h-5 mg-b10">
            <div class="float-l w100 pd-h5">
                <select class="form-control">
                    <option>전체</option>
                    <option>책제목</option>
                    <option>저자</option>
                    <option>출판사</option>
                </select>
            </div>
            <div class="float-l w180 pd-h5">
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="float-l pd-h5 txt-c media-mx-w767-w100p media-mx-w767-mg-t10">
                <button class="btn btn-success w100">검색</button>
            </div>
        </div>
        <div class="border-t-ccc mg-b10">
            <div class="border-b-ccc pd5">
                <div class="cf">
                    <div class="float-l">
                        <span class="mg-r5 font1rem">[종교]</span><span>가나다라마바사아자차카타파하</span>
                    </div>
                    <div class="float-r">
                        <strong class="color-5ecf5e">대여가능: 1권</strong>
                    </div>
                </div>
                <div class="font1_2rem cf">
                    <div class="float-l"><span>원대로</span> | <span>디딤돌</span></div>
                    <div class="float-r">위치: <strong>a212322</strong></div>
                </div>
                <div class="mg-t5 font12">
                    <strong class="inline-block radius20 pd-v3-h6 border-5ecf5e color-5ecf5e">신간</strong>
                    <strong class="inline-block radius20 pd-v3-h6 border-5ecf5e color-5ecf5e">베스트셀러</strong>
                </div>
            </div>
            <div class="border-b-ccc pd5">
                <div class="cf">
                    <div class="float-l">
                        <span class="mg-r5 font1rem">[종교]</span><span>세왕이야기</span>
                    </div>
                    <div class="float-r">
                        <strong class="color-red">대여불가능</strong>
                    </div>
                </div>
                <div class="font1_2rem cf">
                    <div class="float-l"><span>원대로</span> | <span>디딤돌</span></div>
                    <div class="float-r">위치: <strong>a212322</strong></div>
                </div>
                <div class="mg-t5 font12">
                    <strong class="inline-block radius20 pd-v3-h6 border-5ecf5e color-5ecf5e">신간</strong>
                    <strong class="inline-block radius20 pd-v3-h6 border-5ecf5e color-5ecf5e">베스트셀러</strong>
                </div>
            </div>
        </div>
        
        <div class="txt-c">
            <button class="btn btn-light">&lt</button>
            <button class="btn btn-light">1</button>
            <button class="btn btn-light">2</button>
            <button class="btn btn-light">3</button>
            <button class="btn btn-light">&gt</button>
        </div>
    </div>
</section>