<section id="requstBookPage" class="">
    <div class="container pd-v20">
        <h2>도서검색</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div class="cf mg-h-5 mg-b10">
            <div class="float-l w120 pd-h5">
                <select class="form-control">
                    <option>전체</option>
                    <option>책제목</option>
                    <option>저자</option>
                    <option>출판사</option>
                </select>
            </div>
            <div class="float-l pd-h5">
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="float-l pd-h5 txt-c media-mx-w767-w100p media-mx-w767-mg-t10">
                <button class="btn btn-success w100">검색</button>
            </div>
        </div>
        <div class="border-t-ccc mg-b10">
            <div class="border-b-ccc pd5">
                <div class="font1_2rem"><span class="mg-r5 font1rem">[종교]</span><span>예수는 역사다.</span></div>
                <div>원대로 | 디딤돌</div>
                <div class="cf mg-t5 font12">
                    <div class="float-l"><strong class="radius20 color-fff bg-5ecf5e pd-v1-h6">대여가능</strong><span class="mg-l5">1권</span></div>
                    <div class="float-r">위치: <strong>a212322</strong></div>
                </div>
            </div>
            <div class="border-b-ccc pd5 color-bbb">
                <div class="font1_2rem txt-ellipsis"><span class="mg-r5 font1rem">[종교]</span><span>세 왕 이야기(A Tale of Three Kings)</span></div>
                <div><span>원대로</span> | <span>예수전도단</span></div>
                <div class="cf mg-t5 font12">
                    <div class="float-l"><strong class="radius20 color-fff bg-red pd-v1-h6">대여불가능</strong></div>
                    <div class="float-r">위치: <strong>a212322</strong></div>
                </div>
            </div>
        </div>
        
        <div class="txt-c">
            <button class="btn btn-light">&lt</button>
            <button class="btn btn-light">1</button>
            <button class="btn btn-light">2</button>
            <button class="btn btn-light">3</button>
            <button class="btn btn-light">&gt</button>
        </div>
    </div>
</section>