<div class="pd10">
    <div class="border-ccc pd5 mg-b10">
        <div class="cf mg-b5">
            <div class="float-l mg-r10">
                <span>ID: </span>
                <input type="text" class="form-control w120 inline-block" value="wondaero">
            </div>
            <div class="float-l">
                <span>회원번호: </span>
                <input type="text" class="form-control inline-block w70" value="003">
            </div>
            <div class="float-r">
                <button class="btn btn-warning">수정</button>
                <button class="btn btn-danger">탈퇴</button>
            </div>
        </div>
        <div class="cf mg-b5">
            <div class="float-l mg-r10">
                <span>이름: </span>
                <input type="text" class="form-control w90 inline-block" value="원대로">
            </div>
            <div class="float-l mg-r10">
                <span>생년월일: </span>
                <input type="text" class="form-control inline-block w80" value="880531">
            </div>
            <div class="float-l pd-t5">
                <label class="mg-r10"><input type="radio" name="signUpGender" class="MG-R5" checked><span>남자</span></label>
                <label><input type="radio" name="signUpGender" class="MG-R5"><span>여자</span></label>
            </div>
        </div>
        <div class="cf mg-b5">
            <div class="float-l mg-r10">
                <span>전화번호: </span>
                <input type="text" class="form-control inline-block w130" value="010-8580-5167">
            </div>
            <!-- <div class="float-l">
                <span>주소: </span>
                <input type="text" class="form-control inline-block w450" value="서울시 은평구 응암동 42-19 b102호">
            </div> -->
        </div>
        <div class="cf">
            <!-- <div class="float-l mg-r10">
                <span>전화번호: </span>
                <input type="text" class="form-control inline-block w120" value="010-8580-5167">
            </div> -->
            <div class="float-l">
                <span>주소: </span>
                <input type="text" class="form-control inline-block w450" value="서울시 은평구 응암동 42-19 b102호">
            </div>
        </div>
        <hr class="mg-v5">
        <div class="cf">
            <div class="float-l mg-r10">
                <span>등급: </span>
                <select type="nmuber" class="form-control inline-block w100 txt-r" value="3">
                    <option>회원</option>
                </select>
            </div>
            <div class="float-l mg-r10">
                <span>최대 대여량: </span>
                <input type="nmuber" class="form-control inline-block w50 txt-r" value="3">
            </div>
            <div class="float-l mg-r10">
                <span>최대 대여일: </span>
                <input type="nmuber" class="form-control inline-block w50 txt-r" value="3">
            </div>
            <div class="float-l">
                <label class="mg-t6">
                    <input type="checkbox" class="mg-r5" checked>
                    <span>대여가능</span>
                </label>
            </div>
        </div>

    </div>
    <div class="overflow-y-auto max-h250 border-v-ccc">
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>

    </div>
</div>