<section id="signIn">
    <div class="pd-v20 container">
        <h2>도서관관리</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="bookReg" checked><span>도서등록</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="takeOutBook"><span>도서대여</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="returnOfBook"><span>도서반납</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="mngMember"><span>회원관리</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="barcode"><span>바코드출력</span></label>
        </div>
        <div id="mngPageView" class="border-ccc overflow-h-auto">
            <div v-if="mngViewPage === 'bookReg'">도서등록</div>
            <!-- <div v-if="mngViewPage === 'bookRent'">도서대여</div> -->
            <take-out-book v-if="mngViewPage === 'takeOutBook'">도서대여</take-out-book>
            <!-- <div v-if="mngViewPage === 'bookRtn'">도서반납</div> -->
            <return-of-book v-if="mngViewPage === 'returnOfBook'"></return-of-book>
            <!-- <div v-if="mngViewPage === 'memberMng'">회원관리</div> -->
            <mng-member v-if="mngViewPage === 'mngMember'">회원관리</mng-member>
            <div v-if="mngViewPage === 'barcode'">바코드출력</div>
        </div>
    </div>
</section>
