<section id="signIn">
    <div class="pd-v20 container">
        <h2>도서관관리</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="regBook" checked><span>도서등록</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="mngBook" checked><span>도서관리</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="takeOutBook"><span>도서대여</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="returnOfBook"><span>도서반납</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="mngMember"><span>회원관리</span></label>
            <label class="radio-btn pointer"><input type="radio" name="libMngMenu" v-model="mngViewPage" value="barCode"><span>바코드출력</span></label>
        </div>
        <div id="mngPageView" class="border-ccc overflow-h-auto">
            <reg-book v-if="mngViewPage === 'regBook'">도서등록</reg-book>
            <mng-book v-if="mngViewPage === 'mngBook'">도서관리</mng-book>
            <take-out-book v-if="mngViewPage === 'takeOutBook'">도서대여</take-out-book>
            <return-of-book v-if="mngViewPage === 'returnOfBook'"></return-of-book>
            <mng-member v-if="mngViewPage === 'mngMember'">회원관리</mng-member>
            <bar-code v-if="mngViewPage === 'barCode'">바코드</bar-code>
        </div>
    </div>
</section>
