<section id="requstBookPage" class="">
    <div class="container pd-v20">
        <h2>도서요청</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div class="cf mg-h-5 mg-b10">
            <div class="float-l w80p pd-h5">
                <input type="text" class="form-control" placeholder="책이름">
            </div>
            <div class="float-l w20p pd-h5">
                <input type="text" class="form-control" placeholder="저자">
            </div>
        </div>
        <textarea class="form-control no-resize mg-b10 min-h300" placeholder="메모"></textarea>
        <h6>*책 사진 혹은 링크를 걸어도 됩니다.</h6>
        <div class="txt-c">
            <button class="btn btn-success w100">요청</button>
            <button class="btn btn-default w100">취소</button>
        </div>
    </div>
</section>