<div class="pd10">
    <div class="border-ccc pd5 mg-b10">
        <div class="overflow-y-auto max-h250 border-v-ccc">
            <div class="border-b-ccc pd5 cf h68">
                <div class="float-l w100p-100 h100p">
                    <div class="cf mg-b5">
                        <div class="float-l"><span>원대로</span> <span>[0001]</span> <span>[wondaero]</span></div>
                    </div>
                    <div class="font1rem mg-b5"><span>1988-05-31</span> <strong
                            class="radius20 color-fff bg-3758e3 pd-v3-h6">남자</strong></div>
                    <div class="font1rem">서울시 은평구 응암동 42-19 b102호</div>
                </div>
                <div class="float-l w100 txt-r h100p">
                    <div class="vertical-m">
                        <div><span>010-8580-5167</span></div>
                        <div class="mg-t5"><button class="btn btn-info pd-v3-h6" @click="$root.popup = null; $root.popupData.pickMember.phone = '010-8580-5167';">선택</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-y-auto max-h250 border-v-ccc">
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
        <div class="border-b-ccc pd5">
            <div class="cf">
                <div class="float-l">
                    <span class="mg-r5">[종교]</span><span class="mg-r5">예수는 역사다.</span><span>[a212322]</span></span>
                </div>
                <div class="float-r">
                    <span class="mg-r5">대여일: </span><span>2021-01-29 ~</span>
                </div>
            </div>
            <div class="font1_2rem">원대로 | 디딤돌</div>
        </div>
    </div>
</div>