<section id="signIn">
    <div class="pd-v20 container">
        <h2>도서관관리</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div class="mg-b10">
            <label class="radio-btn mg-b5 pointer"><input type="radio" name="bookMngMenu" checked><span>도서등록</span></label>
            <label class="radio-btn mg-b5 pointer"><input type="radio" name="bookMngMenu"><span>도서대여</span></label>
            <label class="radio-btn mg-b5 pointer"><input type="radio" name="bookMngMenu"><span>도서반납</span></label>
            <label class="radio-btn mg-b5 pointer"><input type="radio" name="bookMngMenu"><span>회원관리</span></label>
            <label class="radio-btn mg-b5 pointer"><input type="radio" name="bookMngMenu"><span>바코드출력</span></label>
        </div>
        <div>
            <div v-if="mngViewPage === 'bookReg'">도서등록</div>
            <div v-if="mngViewPage === 'bookRent'">도서대여</div>
            <div v-if="mngViewPage === 'bookReturn'">도서반납</div>
            <div v-if="mngViewPage === 'customMng'">회원관리</div>
            <div v-if="mngViewPage === 'barcode'">바코드출력</div>
        </div>
    </div>
</section>