<section id="signIn">
    <div class="pd-v20 container">
        <h2>로그인</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <div class="cf mg-h-5 mg-b10">
            <div class="mg-b10 w300">
                <input type="text" id="signInId" class="form-control" placeholder="아이디">
            </div>
            <div class="mg-b10 w300">
                <input type="password" id="signInPw" class="form-control" placeholder="패스워드">
            </div>
            <div class="mg-b10 w300">
                <button class="btn btn-success w100" @click="signIn();">로그인</button>
                <button class="btn btn-primary w100">회원가입</button>
            </div>
            <h6>*아이디 혹은 비밀번호를 모를시 <br class="none media-mx-w767-block">관리자에게 문의하세요.</h6>
        </div>
    </div>
</section>